.thumbPostContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.thumbPostWrap {
    width: 32%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    transition: box-shadow .3s;
}

.thumbPostWrap > a {
    text-decoration: none;
}

.thumbPostWrap:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.thumbPostTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}

.thumbPostDate {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 12px;
}

.thumbCategories {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    padding: 10px 0;
}

.paginationWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 0;
}

.paginationWrap > li {
    padding: 5px 0;
}

.paginationWrap > li > a {
    text-decoration: none;
}

.paginationWrap > a {
    text-decoration: none;
}

.postTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    padding: 12px 0;
}

@media only screen and (max-width: 480px) {
    .thumbPostWrap {
        width: 100%;
    }
  }
