header {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0px 15px;
}

.social {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header {
    text-align: center;
}

.headerTitle {
    line-height: 60px;
    font-size: 60px;
    font-weight: 200;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.headerSubTitle {
    font-family: Caveat,cursive;
    font-size: 23px;
    padding: 15px 0;
}

.icons {
    margin: 0 5px;
}

@media only screen and (max-width: 480px) {
    header {
        margin: 15px auto;
    }

    .header {
        margin: 20px 0;
    }
    .headerTitle {
        line-height: 28px;
        font-size: 28px;
    }

    .headerSubTitle {
        font-size: 16px;
    }

    .social {
        padding-bottom: 10px;
    }
  }
