.header {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    border-bottom: 1px solid black;
}

.headerTitle {
    line-height: 60px;
    font-size: 60px;
    font-weight: 200;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.headerSubTitle {
    font-family: Caveat,cursive;
    font-size: 23px;
    padding: 15px 0;
}

@media only screen and (max-width: 480px) {
    .header {
        margin: 20px 15px;
    }
    .headerTitle {
        line-height: 30px;
        font-size: 30px;
    }

    .headerSubTitle {
        font-size: 16px;
    }
  }
